pom.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://maven.apache.org/POM/4.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="project" type="ns:projectType" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
  <xs:complexType name="dependencyType">
    <xs:sequence>
      <xs:element name="groupId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="com.formdev"/>
            <xs:enumeration value="org.jetbrains"/>
            <xs:enumeration value="junit"/>
            <xs:enumeration value="org.junit.jupiter"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="artifactId">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="flatlaf-intellij-themes"/>
            <xs:enumeration value="flatlaf"/>
            <xs:enumeration value="annotations"/>
            <xs:enumeration value="junit"/>
            <xs:enumeration value="junit-jupiter"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="version">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="1.6.5"/>
            <xs:enumeration value="RELEASE"/>
            <xs:enumeration value="4.13.1"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="scope" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="compile"/>
            <xs:enumeration value="test"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dependenciesType">
    <xs:sequence>
      <xs:element type="ns:dependencyType" name="dependency" maxOccurs="unbounded" minOccurs="0" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="propertiesType">
    <xs:sequence>
      <xs:element type="xs:string" name="maven.compiler.source"/>
      <xs:element type="xs:string" name="maven.compiler.target"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="projectType">
    <xs:sequence>
      <xs:element type="xs:string" name="modelVersion"/>
      <xs:element type="xs:string" name="groupId"/>
      <xs:element type="xs:string" name="artifactId"/>
      <xs:element type="xs:string" name="version"/>
      <xs:element type="ns:dependenciesType" name="dependencies" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
      <xs:element type="ns:propertiesType" name="properties" xmlns:ns="http://maven.apache.org/POM/4.0.0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>